<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign-in">
      <div class="div">
        <div class="overlap-group">
          <div class="group">
            <div class="text-wrapper">Automatic Course Scheduler</div>
            <img class="vector" src="img/vector-1.svg" />
          </div>
          <div class="overlap">
            <img class="img" src="img/vector.svg" />
            <div class="text-wrapper-2">Welcome Back</div>
            <div class="text-wrapper-3">to Automatic Course Scheduler</div>
            <p class="p">Where Scheduling Becomes Effortless and Learning Takes Centre Stage.</p>
          </div>
        </div>
        <div class="frame">
          <div class="frame-2">
            <div class="welcome">WELCOME</div>
            <p class="text-wrapper-4">Please login using your credentials.</p>
          </div>
        </div>
        <div class="user-name">
          <div class="text-wrapper-5">USERNAME</div>
          <div class="div-wrapper"><div class="text-wrapper-6">walterwhite02</div></div>
        </div>
        <div class="password">
          <div class="text-wrapper-5">PASSWORD</div>
          <div class="frame-3">
            <div class="background"></div>
            <div class="frame-4">
              <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
              <img class="open-eye" src="img/open-eye-1.svg" />
            </div>
          </div>
        </div>
        <div class="login"><div class="text-wrapper-7">LOGIN</div></div>
        <div class="forgot-password">
          <div class="text-wrapper-6">Forgot your password?</div>
          <div class="text-wrapper-8">Reset Here</div>
        </div>
        <div class="create-account"><div class="text-wrapper-9">CREATE AN ACCOUNT</div></div>
      </div>
    </div>
  </body>
</html>
